*.exe
.vscode/tasks.json
*/CMakeFiles*
*Makefile
*.cmake

.DS_Store

*.aedat4*
*.so
*/fftw-3*
.vscode/tasks.json
.vscode/settings.json
.vscode/c_cpp_properties.json
*Makefile
*error.txt
*CMakeCache.txt
*cmake_install.cmake
*CMakeFiles*
*install_manifest.txt
